<table class="table table-hover ">
    <thead>
        <th> # </th>
        <th> Bandera </th>
        <th> Nombre </th>
        <th> Poblacion </th>
    </thead>
    <tbody>
        <tr *ngFor="let pais of arreglopaises" class="animate__animated animate__pulse">
            <td>{{pais.numericCode}}
            </td>
            <td>
                <img class="small-flag" [src]="pais.flag">
            </td>
            <td>{{pais.nativeName}}, {{pais.capital}}
            </td>
            <td>{{pais.population | number}}</td>
            <td><a [routerLink]="['/pais', pais.alpha2Code]" >ir</a></td>
            <div *ngIf="favoritosexiste" > <button button class="btn btn-danger" (click)="favorito(pais.nativeName)"> Quitar favorito</button> </div>
            <div *ngIf="!favoritosexiste" > <button button class="btn btn-primary" (click)="favorito(pais.nativeName)"> Favorito</button> </div>
        </tr> 
    </tbody>
</table>